<?xml version="1.0" encoding="utf-8"?>
<!--树神设置-->
<Setting>
  <!--调试-->
  <Debug>true</Debug>
  <!--是否输出SQL语句，默认为调试开关Debug-->
  <ShowSQL>false</ShowSQL>
  <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
  <SQLPath>..\SqlLog</SQLPath>
  <!--跟踪SQL执行时间，大于该阀值将输出日志，默认0毫秒不跟踪-->
  <TraceSQLTime>100</TraceSQLTime>
  <!--连接名映射#，表名映射@，把实体类中的Test2和Test3连接名映射到Test去-->
  <ConnMaps>Common#DefaultConn,Membership#DefaultConn</ConnMaps>
  <!--是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
  <CodeDebug>false</CodeDebug>
  <!--下载数据库驱动的地址，文件名用{0}替代。默认http://j.NewLifeX.com/?id=3&amp;f={0}-->
  <ServiceAddress>http://j.NewLifeX.com/?id=3&amp;amp;f={0}</ServiceAddress>
  <!--是否缓存数据库驱动Zip包到系统盘。默认缓存-->
  <CacheZip>true</CacheZip>
  <!--实体类首次访问数据库时，是否执行数据初始化，默认true执行，导数据时建议关闭-->
  <InitData>false</InitData>
  <!--缓存-->
  <Cache>
    <!--是否调试缓存模块-->
    <Debug>false</Debug>
    <!--是否独占数据库，独占时将大大加大缓存权重，默认true（Debug时为false）-->
    <Alone>false</Alone>
    <!--缓存有效期。-2	关闭缓存；-1	非独占数据库，请求级缓存；0	永久静态缓存；>0	静态缓存时间，单位秒；默认-2-->
    <Expiration>-2</Expiration>
    <!--缓存维护定时器的检查周期，默认5秒-->
    <CheckPeriod>5</CheckPeriod>
    <!--实体缓存过期时间，默认60秒-->
    <EntityCacheExpire>60</EntityCacheExpire>
    <!--单对象缓存过期时间，默认60秒-->
    <SingleCacheExpire>60</SingleCacheExpire>
  </Cache>
  <!--反向工程-->
  <Negative>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <Enable>true</Enable>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <CheckOnly>false</CheckOnly>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <NoDelete>true</NoDelete>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空-->
    <Exclude />
  </Negative>
  <!--模型-->
  <Model>
    <!--是否ID作为id的格式化，否则使用原名。默认使用ID-->
    <UseID>true</UseID>
    <!--是否自动去除前缀，第一个_之前。默认启用-->
    <AutoCutPrefix>true</AutoCutPrefix>
    <!--是否自动去除字段前面的表名。默认启用-->
    <AutoCutTableName>true</AutoCutTableName>
    <!--是否自动纠正大小写。默认启用-->
    <AutoFixWord>true</AutoFixWord>
    <!--格式化表名字段名时，要过滤的前缀。默认tbl,table-->
    <FilterPrefixs>tbl,table</FilterPrefixs>
  </Model>
  <!--Oracle设置-->
  <Oracle>
    <!--是否限制只能访问拥有者的信息，默认false-->
    <UseOwner>false</UseOwner>
    <!--是否忽略大小写，如果不忽略则在表名字段名外面加上双引号，默认true-->
    <IgnoreCase>true</IgnoreCase>
    <!--是否限制只能访问拥有者的信息，默认false-->
    <DLLPath />
  </Oracle>
</Setting>